{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% block heading %}
	<title>Hello World | Ahmad Fauzan Amirul Isnain</title>
	<script src="{% static 'js/subscribe.js' %}"> </script>
	{% endblock heading %}
</head>
<body>
{% block content %}	
	<div class="main main-landing-page">
		<div class="title">
			<h1>Subscribe me</h1>
		</div>
		<div class="row">
    		<div class="col-12">
				<div class ="main-form">
					<div class ="form-container" id="subscribe-form">
				    	<form method="POST">
				    		{% csrf_token %} 
					    		{% for data in SubscribeForm %}
									<div class="form-group row">
									  	<div class="col-10 center">
									    	{{data}}
									    	<div class="form-errors" id ="{{data.name}}_errors"></div>
									    	{% if data.name == 'password' %}
									    	<div class="form-check">
									    		<input id="toggle-password" class="form-check-input" type="checkbox">
									    		<label class="form-check-label" for="toggle-password">Reveal Password</label>
									    	</div>
									    	{% endif %}
									  	</div>
									</div>
								{% endfor %}
				        	<div class="form-group row">
								<button type="submit" class="status-button save btn btn-primary center" id="submit_button" disabled="true">Submit</button>
							</div>
							<div class="alert alert-success">Data successfully recorded</div>
							<div class="alert alert-danger">Something went wrong, please try again</div>
				   		</form>
				   	</div>
			   </div>
				<div id="subscriber-list">
					<h5>Subscriber list:</h5>
					<div class="table-responsive">
						<table class="table">
						  <thead class="thead-dark text-center">
						    <tr>
						      <th scope="col">Name</th>
						      <th scope="col">Email</th>
						      <th scope="col">Button</th>
						    </tr>
						  </thead>
						  <tbody id="subscriber-list-content" class="text-center">
						  </tbody>
						</table>
					</div>
				</div>
    		</div>
		</div>
		<div class="modal fade" id="modal-unsubscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="modal-unsubscribe-title">Enter your password to unsubscribe</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <input type="password" name="password-unsub" class="form-control" placeholder="Your password ..." maxlength="32" required="" id="password-unsub">
				<div class="form-check">
		    		<input id="toggle-confirm-password" class="form-check-input" type="checkbox">
		    		<label class="form-check-label" for="toggle-confirm-password">Reveal Password</label>
		    	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" id="confirm-pass-unsub-btn">Confirm</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade" id="modal-template" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="modal-template-title"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p class="modal-body-text" id="modal-template-p"></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
{% endblock content %}	
</body>
</html>