{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% block heading %}
	<title>Hello World | Ahmad Fauzan Amirul Isnain</title>
	{% endblock heading %}
</head>
<body>
{% block content %}	
	<div class="main main-landing-page">
		<div class="title">
			{% if user.is_authenticated %}
			<h1>Hello, Apa kabar {{ user.username }}?</h1>
			{% else %}
			<h1>Hello, Apa kabar?</h1>
			{% endif %}
		</div>
		<div class="row">
    		<div class="col-12">
				<div class ="main-form">
					<div class ="form-container">
				    	<form method="POST" action="{% url 'landing_page:add_status' %}">
				    		{% csrf_token %}
					    		{% for data in StatusForm %}
									<div class="form-group row">
									  	<div class="col-10 center">
									    	{{data}}
									    	{% if data.errors %}
									    		{{data.errors}}
									    	{% endif %}
									  	</div>
									</div>
								{% endfor %}
				        	<div class="form-group row">
								<button type="submit" class="status-button save btn btn-primary center">Post</button>
							</div>
				   		</form>
				   	</div>
			   </div>
    		</div>
		</div>
	   <div class="status">
	   		{% for data in status %}
				<div class="panel panel-default">
					<div class="panel-body panel-body-landing border border-dark">
						<div class="status-message">
							<p>{{data.status}}</p>
						</div>
						<div class='right'>
							<p>{{data.date}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
	   </div>
	</div>
{% endblock content %}	
</body>
</html>