{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% block heading %}
	<title>Books | Ahmad Fauzan Amirul Isnain</title>
	<script src="{% static 'js/books.js' %}"> </script>
	{% endblock heading %}
</head>
<body>
{% block content %}	
	<div class="main main-landing-page">
		<div class="title">
			<h1>Books</h1>
		</div>
		<div class="row">
    		<div class="col-12">
				<div class ="main-form">
					<div class ="form-container">
						<div class="form-group row">
						  	<div class="col-10 center">
						    	<input type="text" id="search-box" class="form-control" placeholder="Search..." maxlength="300">
						  	</div>
						</div>
			        	<div class="form-group row">
							<button id="search-button" name="search-button" class="status-button save btn btn-primary center">Search</button>
							<button id="show-fav-button" name="show-fav-button" class="status-button save btn btn-primary center">Show Favorite Books ID</button>
						</div>
				   	</div>
			   </div>
    		</div>
		</div>
		<h3 id="fav-count">Favorite Count: </h3>
		<div id="fav-list">
			<h5>Your favorite books' ID list:</h5>
			<p>*Your can search your favorite books at search box using the ID</p>"
			<div class="table-responsive">
				<table class="table">
				  <thead class="thead-dark text-center">
				    <tr>
				      <th scope="col">ID</th>
				    </tr>
				  </thead>
				  <tbody id="fav-list-content" class="text-center">
				  </tbody>
				</table>
			</div>'
		</div>
		<div class='table-responsive'>
			<table class="table">
			  <thead class="thead-dark text-center">
			    <tr>
			      <th scope="col">No.</th>
			      <th scope="col">Image</th>
			      <th scope="col">Title</th>	
			      <th scope="col">Authors</th>
			      <th scope="col">Publisher</th>
			      <th scope="col">Published Date</th>
			      <th scope="col">Favorite</th>
			    </tr>
			  </thead>
			  <tbody id="books-body" class="text-left">
			  </tbody>
			</table>
		</div>
	</div>
{% endblock content %}	
</body>
</html>
