<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'img/icon.ico' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
	<script src="{% static 'js/script.js' %}"> </script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% block heading %}
	{% endblock heading %}
</head>
</style>
<body class="custom-body"> 
<div class="progress-view">
	<div id="progress-background">
  		<div id="progress-bar"></div>
	</div>
</div>
<div class="custom-body-2">	
	<nav class="navbar-nav side-navbar side-navbar-theme1">
      	<li class="nav-item" id ="nav_photo">
			<a class="nav-link" href="/profile#header" id="profile_menu"><img src="{% static 'img/profile_photo.jpg' %}"></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/landing_page">Status</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/books">Books</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/subscribe">Subscribe</a>
		</li>
		{% if user.is_authenticated %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'push_data' %}">Log Out</a>
		</li>
        {% else %}
        <li class="nav-item">
			<a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">Google Log In</a>
		</li>
		{% endif %}
		<li class="nav-item horizontal-center">
			<button name="side-nav-btn" class="nav-button btn btn-primary">Ubah Tema</button>
		</li>
	</nav>
	<nav class="navbar navbar-expand-sm top-navbar top-navbar-theme1 fixed-top justify-content-between">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-light navbar-toggler-icon toggle">
                <img src="{% static 'img/toggle.png' %}">
            </span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
			<ul class="navbar-nav">
		      	<li class="nav-item">
					<a class="nav-link" href="/profile#header2">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/landing_page">Status</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/books">Books</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/subscribe">Subscribe</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'push_data' %}">Log Out</a>
				</li>
		        {% else %}
		        <li class="nav-item">
					<a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">Google Log In</a>
				</li>
				{% endif %}
				<li class="nav-item horizontal-center">
					<button name="top-nav-btn" class="nav-button btn btn-primary">Ubah Tema</button>
				</li>
			</ul>
		</div>
	</nav>
	{% block content %}
	{% endblock content %}
</div>	
</body>
</html>